<%% @page_title = "Add <%= print_name %>" -%>
<%% render :partial => "subnav" %>

      <p>To add a new <%= print_name %> simply complete the form below.</p>
      <%%= error_messages_for :<%= file_name %> %>
      <div class="clear"></div>
      <%%= render :partial => 'form', :locals => {:<%= file_name %> => @<%= file_name %>} %>
